body {
  background: #06beb6;
  background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
  background: linear-gradient(to right, #48b1bf, #06beb6);

  font-family: "Courier New", Courier, monospace;
}

.containerski {
  display: block;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-self: center;
  align-items: center;
}

#completedTaskList {
  display: flex;
  flex-direction: column;
}

h6 {
  display: flex;
  justify-content: flex-end;
}

.bg {
  background: #c3d6ff;
  /* background: -webkit-linear-gradient(to right, #859398, #283048); */
  /* background: linear-gradient(to right, #859398, #283048); */
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}
